/* HEADER  */
/* top-navbar  */

.top-navbar {
    margin: 20px auto;
}

.top-navbar li {
    display: inline-block;
    text-transform: uppercase;
    padding-right: 10px;
    font-size: 13px;
}

.top-navbar li a {
    text-decoration: none;
    color: black;
}

.language li {
    border-right: 1px solid black;
    padding: 0 5px;
}

.burger-menu {
    text-align: right;
    padding: 0 10px;
}
/* end top-navbar  */

/* jumbotron  */
.jumbotron {
    height: 550px;
    background-image: url(../img/hero-bg.jpg);
    position: relative;
    margin-bottom: 30px;
}

.jumbotron-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.jumbotron-title h1 {
    font-size: 50px;
    padding-bottom: 30px;
}

.jumbotron-title p {
    padding-bottom: 20px;
}
/* end jumbotron  */
/* END HEADER  */

/* MAIN  */

/* top-main-section  */
.product-padding {
    padding: 10px;
}

.product {
    text-align: center;
    background-color: #fafafa;
}

.product h2,p {
    padding: 10px;
}

.product a {
    font-size: 13px;
    text-decoration: none;
}

.product img {
    width: 100%;
}


/* end top-main-section  */
/* END MAIN  */